{% load static %}
<footer>
<p class="headings">USEFUL LINKS <span class="headings"> CONTACT ME</span></p>
<p><a href="../" class="links" id="foot">Home</a> 
    <span class="icon">
    <a href="https://github.com/just-codingbaby/FALLEN" target="_blank"><img src="{% static '/css/images/github.png' %}" alt="Github" width="30px" class="icons"></a>&nbsp;    
    <a href="https://fallen.readthedocs.io/en/latest/" target="_blank"><img src="{% static '/css/images/docs.png' %}" alt="readthedocs" width="30px" class="icons"></a>&nbsp;    
    &nbsp;
    </span>
</p>
</footer>